services:
  monero-torrent-remote:
    image: ghcr.io/plowsof/monero-torrent-build-env:latest
    build:
      context: .
    environment:
      CDN_URL: "https://downloads.getmonero.org"
      HASHES_URL: "https://www.getmonero.org/downloads/hashes.txt"
      BF_KEY_URL: "https://raw.githubusercontent.com/monero-project/monero/master/utils/gpg_keys/binaryfate.asc"
      OUTPUT_DIR: "/app/downloads"
      TORRENT_DIR: "/app/watch"
    volumes:
      - "./downloads:/app/downloads"
      - "./watch:/app/watch"
    restart: "no"
    profiles: ["remote"]

  monero-torrent-local:
    image: ghcr.io/plowsof/monero-torrent-build-env:latest
    build:
      context: .
    environment:
      CDN_URL: "/cdn"
      HASHES_URL: "hashes-v0.18.4.3.txt"
      BF_KEY_URL: "binaryfate.asc"
      OUTPUT_DIR: "/app/downloads"
      TORRENT_DIR: "/app/watch"
    volumes:
      - "./downloads:/app/downloads"
      - "./watch:/app/watch"
      - "./cdn:/cdn"
    restart: "no"
    profiles: ["local"]
