services:
  monero-torrent-remote:
    image: ghcr.io/${GITHUB_REPOSITORY_OWNER}/monero-torrent-build-env:latest
    build:
      context: .
    environment:
      CDN_URL: "https://downloads.getmonero.org"
      HASHES_URL: "https://www.getmonero.org/downloads/hashes.txt"
      BF_KEY_URL: "https://raw.githubusercontent.com/monero-project/monero/master/utils/gpg_keys/binaryfate.asc"
      OUTPUT_DIR: "/app/downloads"
      TORRENT_DIR: "/app/watch"
    volumes:
      - "./downloads:/app/downloads"
      - "./watch:/app/watch"
      - "./create_monero_torrent.sh:/app/create_monero_torrent.sh:ro"
    restart: "no"
    profiles: ["remote"]

  monero-torrent-local:
    image: ghcr.io/${GITHUB_REPOSITORY_OWNER}/monero-torrent-build-env:latest
    build:
      context: .
    environment:
      CDN_URL: "/cdn"
      HASHES_URL: "hashes.txt"
      BF_KEY_URL: "binaryfate.asc"
      OUTPUT_DIR: "/app/downloads"
      TORRENT_DIR: "/app/watch"
    volumes:
      - "./downloads:/app/downloads"
      - "./watch:/app/watch"
      - "./cdn:/cdn:ro"
      - "./create_monero_torrent.sh:/app/create_monero_torrent.sh:ro"
    restart: "no"
    profiles: ["local"]
